@font-face {
    font-family: NotoKufi;
    src: url(../fonts/NotoKufiArabic-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: NotoKufi;
    src: url(../fonts/NotoKufiArabic-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: NotoKufi;
    src: url(../fonts/NotoKufiArabic-Regular.ttf);
    font-weight: 400;
}
.font-notoKufi-bold{
    font-family: NotoKufi;
    font-weight: 700;
}
.font-notoKufi-medium{
    font-family: NotoKufi;
    font-weight: 500;
}
.font-notoKufi-regular{
    font-family: NotoKufi;
    font-weight: 400;
}